.page-navbar .navbar-nav .nav-item a {
  font-weight: bold;
}

.page-navbar.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.page-navbar .logo {
  font-size: 1.5rem;
}

.page-navbar.fixed-top + .page {
  padding-top: 62px;
}

.gradient {
  background: linear-gradient(120deg, #7f70f5, #0ea0ff);
  color: #fff !important;
}

.block {
  padding-top: 60px;
  padding-bottom: 60px;
}

.block.block-intro {
  text-align: center;
  max-width: 850px;
  margin: auto;
}

.block.block-intro .about-me {
  max-width: 800px;
  margin: auto;
}

.block.block-intro p {
  margin-bottom: 30px;
  font-size: 1.5em;
  font-weight: 300;
}

.block.block-intro .btn {
  border-radius: 2em;
  padding: .375rem 1rem;
}

.block.block-intro .avatar {
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100px;
  margin: auto auto 30px;
}

.block.info {
  padding-top: 70px;
}

.block.info h2 {
  margin-bottom: 70px;
  font-weight: bold;
}

.block.info h3 {
  font-size: 1.3rem;
}

.block.info .group {
  max-width: 800px;
  margin: auto;
}

.block.info .group:not(:first-child) {
  margin-top: 90px;
}

.block.info .group .period {
  float: none;
  color: #484d51;
  opacity: .8;
  margin-top: 4px;
  font-size: .8rem;
  font-weight: bold;
}

.block.info .group .organization {
  color: #fff;
  background-color: #00f;
  border-radius: 2em;
  padding: 2px 8px;
  font-size: .85em;
  display: inline-block;
}

.block.info .education.group .organization {
  background-color: #20c997;
}

.block.info .group .item {
  border-bottom: 1px solid #eee;
  margin-bottom: 25px;
  padding-bottom: 10px;
}

.block.info .group h2 + .item {
  border-top: 1px solid #eee;
  padding-top: 25px;
}

.block.info .group .item .row {
  margin-bottom: 5px;
}

.block.info .experiencia h3, .block.info .educacion h3 {
  font-weight: bold;
}

.block .info-card {
  height: 100%;
  padding: 40px;
  box-shadow: 0 2px 10px #00000013;
}

.block .info-card h2 {
  margin-top: 0;
  font-size: 1.4rem;
  margin-bottom: 24px !important;
}

.block .info-card.skills h3 {
  margin-top: 25px;
  font-size: 1rem;
  font-weight: bold;
}

.block .info-card.skills .progress {
  height: 3px;
}

.block .info-card.contact-info .icon {
  color: #c9c9c9;
  font-size: 1.3em;
  position: relative;
  bottom: 4px;
}

.block.info .hobbies p {
  max-width: 700px;
  margin: auto;
  font-size: 1.2em;
}

.page-footer {
  text-align: center;
  border-top: 1px solid #ddd;
  padding-top: 32px;
  padding-bottom: 20px;
}

.page-footer a {
  color: #282b2d;
  margin: 0 10px;
  font-size: 18px;
  display: inline-block;
}

.page-footer .links {
  display: inline-block;
}

.page-footer .social-icons {
  margin-top: 20px;
  margin-bottom: 16px;
}

.page-footer .social-icons a {
  color: #fff;
  opacity: .75;
  width: 36px;
  height: 36px;
  text-align: center;
  background-color: #000;
  border: 1px solid;
  border-radius: 50%;
  margin: 0 3px;
  font-size: 30px;
  line-height: 34px;
  display: inline-block;
}

.page-footer .social-icons a:hover {
  opacity: 1;
}

@media (min-width: 768px) {
  .block {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .block.info .group .period {
    float: right;
  }
}

@media (min-width: 576px) {
  .navbar {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }

  .portfolio-navbar.fixed-top + .page {
    padding-top: 6rem;
  }
}

/*# sourceMappingURL=cv.2cdaf7bc.css.map */
